[submodule "Client"]
	path = Client
	url = ../MSPChallenge-Client.git
	branch = dev
[submodule "Server"]
	path = Server
	url = ../MSPChallenge-Server.git
	branch = dev
[submodule "Simulations"]
	path = Simulations
	url = ../MSPChallenge-Simulations.git
	branch = dev
[submodule "Example GeoServer"]
	path = Example GeoServer
	url = ../MSPChallenge-Example-GeoServer.git
	branch = dev
