[Cc]lient/[Ll]ibrary/**
[Cc]lient/[Tt]emp/**
[Cc]lient/[Oo]bj/**
[Cc]lient/[Bb]uild/**
[Cc]lient/[Bb]uilds/**
[Cc]lient/[Ll]ogs/**
[Cc]lient/[Uu]ser[Ss]ettings/**
**/[Pp]ackages/**
**/[Ss]irenix/**
**/[Ss]irenix.meta
**/[Pp]oly2Mesh/**
**/[Pp]oly2Mesh.meta
**/[Zz]FBrowser/**
**/[Zz]FBrowser.meta
**/[Hh]eureka/**
**/[Hh]eureka.meta
**/[Gg]raph_Maker/**
**/[Gg]raph_Maker.meta
**/[Ss]haderForge/**
**/[Ss]haderForge.meta
**/[Ss]oftwareRasterizerLib.meta

# Server ignores, ignores all in the configfiles folder, but includes the basic files 
[Ss]erver/[Ss]erverManager/[Cc]onfigfiles/**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Bb]altic_Sea_basic**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Bb]altic_Sea_basic/Baltic_Sea_basic_1.json**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Cc]lyde_marine_region_basic**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Cc]lyde_marine_region_basic/Clyde_marine_region_basic_1.json**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_basic**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_basic/North_Sea_basic_1.json**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_Digitwin_basic**
![Ss]erver/[Ss]erverManager/[Cc]onfigfiles/[Nn]orth_Sea_Digitwin_basic/North_Sea_Digitwin_basic_1.json**
[Ss]erver/[Ee]xport/**
![Ss]erver/[Ee]xport/DONOTREMOVE.txt**
[Ss]erver/[Ff]iles/**
[Ss]erver/[Ss]cripts/**
[Ss]erver/[Rr]aster/**
![Ss]erver/[Rr]aster/DONOTREMOVE.txt**
[Ss]erver/[Ss]erverManager/[Ll]og/**
![Ss]erver/[Ss]erverManager/[Ll]og/DONOTREMOVE.txt**
[Ss]erver/[Ss]erverManager/[Ss]aves/[Aa]rchive/**
![Ss]erver/[Ss]erverManager/[Ss]aves/[Aa]rchive/DONOTREMOVE.txt**
[Ss]erver/[Ss]erverManager/[Ss]ession_archive/**
![Ss]erver/[Ss]erverManager/[Ss]ession_archive/DONOTREMOVE.txt**
[Ss]erver/[Ss]ession_archive/**
![Ss]erver/[Ss]ession_archive/DONOTREMOVE.txt**

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
**/[Mm]emoryCaptures/**

# Asset meta data should only be ignored when the corresponding asset is also ignored
#!**/[Aa]ssets/**/*.meta
!**/[Pp]ackages/packages-lock.json
!**/[Pp]ackages/manifest.json

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*
# Autogenerated Jetbrains Rider plugin
**/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/*