[submodule "Client"]
	path = Client
	url = git@github.com:BredaUniversityResearch/MSPChallenge-Client.git
	branch = dev
[submodule "Server"]
	path = Server
	url = git@github.com:BredaUniversityResearch/MSPChallenge-Server.git
	branch = dev
[submodule "Simulations"]
	path = Simulations
	url = git@github.com:BredaUniversityResearch/MSPChallenge-Simulations.git
	branch = dev
[submodule "Example GeoServer"]
	path = Example GeoServer
	url = git@github.com:BredaUniversityResearch/MSPChallenge-Example-GeoServer.git
	branch = dev
